<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-Uh-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
    (function (d) {
      var config = {
          kitId: 'xcm6mon',
          scriptTimeout: 3000,
          async: true
        },
        h = d.documentElement,
        t = setTimeout(function () {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout),
        tk = d.createElement("script"),
        f = false,
        s = d.getElementsByTagName("script")[0],
        a;
      h.className += " wf-loading";
      tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
      tk.async = true;
      tk.onload = tk.onreadystatechange = function () {
        a = this.readyState;
        if (f || a && a != "complete" && a != "loaded") return;
        f = true;
        clearTimeout(t);
        try {
          Typekit.load(config)
        } catch (e) {}
      };
      s.parentNode.insertBefore(tk, s)
    })(document);

  </script>
  <link rel="stylesheet" href="/css/knickamincho/style.css">
  <link rel="stylesheet" href="/css/blog/style.css">

  <title>Document</title>
</head>

<body>
<%- include('../component/_header') %>
  <main class="main-content-wrapper">
    <article class="blog-main">
      <h2 class="content-page-title">knicka mincho / ニッカ明朝</h2>
      <div class="contact-primary__description">
        <p>ニッカ明朝はニッカオフィス用にデザインされた明朝体です。利用ケースが限られるため日々手直しをすることが可能です。時代や雰囲気にあわせて、更新していく書体を目指しています。この文字に違和感がある、他と雰囲気が違う、大きい、小さい、太い、細い、など厳しいご意見をお待ちしています。<a href="http://knickaoffice.jp/contact/" rel="noreferrer noopener" target="_blank">▶感想を伝える</a></p>
        <p>組版例：<a href="http://knickaoffice.jp/essay/H300428/" rel="noreferrer noopener" target="_blank">その１</a>、<a href="http://knickaoffice.jp/essay/H300429/" rel="noreferrer noopener" target="_blank">その２</a></p>
      </div>
    </article>

  <div class="blog-main__content">
    <div>
    <p class="font-large">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをんゔがきぐげござじずぜぞだぢづでどばびぶべぼぱぴぷぺぽぁぃぅぇぉっゃゅょゎ</p>
    <p class="font-midium">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをんゔがきぐげござじずぜぞだぢづでどばびぶべぼぱぴぷぺぽぁぃぅぇぉっゃゅょゎ</p>
    <p class="font-small">あいうえおかきくけこさしすせそたちつてとなにぬねのはひふへほまみむめもやゆよらりるれろわをんゔがきぐげござじずぜぞだぢづでどばびぶべぼぱぴぷぺぽぁぃぅぇぉっゃゅょゎ</p>
    <p class="font-regular">ありがとう いきなり うれしい えっと お から きっと ください け こんにちは さっき しかし ずっと せ そういえば たとえば ちょっと つまり て といえば なんと に ぬぅーっと ね のんびり はっきり ひっそり ふっくら へ ほしい まるで みんな むつかしい めんどくさい もっと やっと ゆっくり よって ら り る れっきとした ろ わたし を ん</p>
    </div>
  </div>
  </main>
<%- include('../component/_footer') %>
<script src="/js/top/script.js"></script>
<script src="/js/knickamincho/script.js"></script>
<script src="/js/blog/script.js"></script>
</body>

</html>
